@import 'vars';

.CardDetail {
    max-width: 420px;
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background: $--blue-color;
    padding: 15px 30px;
    border-radius: 8px;

    .title {
        align-self: flex-start;
        font-weight: 600;
        font-size: $--md;
    }

    .description {
        margin: 0;
        font-size: $--sm;
        text-align: justify;
    }

    .caracteristics {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: $--sm;

        span {
            font-weight: bold;
        }
    }

    .container-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        .btn {
            padding: 6px 20px;
            border-radius: 16px;
            border: 1px solid $--white;
            cursor: pointer;
        }
    
        .primary {
            background: $--white;
            color: $--black;
        }
    
        .secondary {
            background: $--blue-color;
            color: $--white;
        }
    }
}