@import 'vars';

.Login {
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;

  .rightform {
    width: 40%;
    height: 100%;
    overflow: hidden;
    float: right;
    background-color: $--white;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .leftform {
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: $--white;
    display: flex;
    justify-content: center;

    .formulariologin {
      height: 100%;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .h2title {
        font-size: 2em;
        color: $--blue-color;
        margin: 20px 0;
        font-weight: bold;
      }

      .input {
        width: 100%;
        padding: 15px 0;
        font-size: 1.2em;
        background-color: $--white;
        color: $--black;
      }

      .label {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
        padding-bottom: 11px;
      }

      .containerButton {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;

        .input[type='submit'] {
          font-weight: 600;
          width: 70%;
          background-color: $--blue-color;
          color: #fff;
          border: none;
          font-size: 18px;
          padding: 8px 30px;
          margin-top: 50px;
          border-radius: 30px;
          display: flex;
          justify-content: center;
        }  
        .input[type='submit']:hover {
          top: 3px;
          background-color: #2e458b;
          box-shadow: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .rightform {
    display: none;
  }

  .leftform {
    width: 100%;
    padding-left: 6px;

    .form {
      width: 95%;
      padding: 0 1em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left-form .input[type='submit'] {
    width: 100%;
  }
}
