@import 'vars';

.ContentPane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-items: center;
    width: 75vw;
    height: 60vh;
    padding: 20px;
    border-radius: 16px;
    background: $--white;
    box-shadow: 4px 4px 4px $--black-tr;
    border: 1px solid $--gary;
}

.filtros {
    display: flex;
    gap: 20px;

    .container-filtro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: $--white;

        select,
        label {
            padding: 0 10px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $--blue-color;
            border-radius: 8px;
            font-size: $--sm;
        }
    }
}

.results {
    ::-webkit-scrollbar {
        --webkit-appearance: none;

        :vertical,
        :horizontal {
            width: 10px;
        }
    }

    ::-webkit-scrollbar-button,
    ::-webkit-scrollbar-button:increment {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background: $--blue-color;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}