@import 'vars';

.containerPrinciple {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  height: calc(90vh - 70px);
  box-sizing: border-box;
  background: $--white;
  border: 10px solid $--white;
  border-radius: 8px 8px 0 0;
  box-shadow: 4px -4px 8px $--gary;
  justify-content: center;
  align-items: center;
  display: flex;

  .rightform {
    width: 40%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    float: left;
    background-color: $--white;
    display: flex;
    align-items: center;
    margin: auto 30px auto 0;
  }

  .leftForm {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    overflow-y: scroll;
    float: right;
    background-color: $--white;
    display: flex;
    justify-content: center;
    background-color: lavender;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    border: solid 1px #cbc9c9;
    border-radius: 8px/7px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;

    .labelInfo {
      color: $--black;
    }

    .bold {
      font-weight: bold;
    }

    .form {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        overflow-y: auto;
        max-height: 300px;
      }

      .th,
      .td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      .th {
        background-color: $--blue-color;
      }

      .td {
        color: #000;
      }

      .title {
        font-size: 2em;
        color: $--blue-color;
        margin: 20px 0;
        font-weight: bold;
      }

      .input {
        width: 100%;
        padding: 15px 0;
        font-size: 1.2em;
        background-color: $--white;
        color: $--black;
      }
      .textarea {
        width: 100%;
        background-color: $--white;
        color: $--black;
      }

      .inputboxDescripcion {
        display: flex;
        flex-direction: column;
        .details {
          margin-bottom: 10px;
          color: $--black;
        }
      }

      .inputbox {
        width: 100%;
        padding-right: 5px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;

        .select {
          width: 100%;
          height: 45px;
          background-color: $--white;
          color: $--black;
        }
      }

      .label {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
        padding-bottom: 11px;
        color: $--blue-color;
      }

      .containerButton {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .input[type='submit'] {
          font-weight: 600;
          width: min-content;
          background-color: $--blue-color;
          color: #fff;
          border: none;
          font-size: 18px;
          padding: 8px 30px;
          margin-top: 50px;
          margin-right: 10px;
          border-radius: 30px;
          display: flex;
          justify-content: center;
        }

        .input[type='submit']:hover {
          top: 3px;
          background-color: #2e458b;
          box-shadow: none;
        }
      }
    }
  }
}

/* Estilos scroll bar none */
.leftForm::-webkit-scrollbar {
  --webkit-appearance: none;
}

/* Estilos barra scroll vertical y horizontal*/
.leftForm::-webkit-scrollbar:vertical {
  width: 10px;
}

.leftForm::-webkit-scrollbar:horizontal {
  height: 10px;
}

/* Botones y carril */
.leftForm::-webkit-scrollbar-button:increment,
.leftForm::-webkit-scrollbar-button {
  display: none;
}

/* Almohadilla de la barra de scroll*/
.leftForm::-webkit-scrollbar-thumb {
  background: $--blue-color;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.leftForm::-webkit-scrollbar-track {
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .containerPrinciple {
    .leftForm {
      width: 100%;
      padding-left: 6px;
      height: 100vh;
      .form {
        width: 95%;
        padding: 0 1em;
        .containerButton {
          .input[type='submit'] {
            width: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left-form .input[type='submit'] {
    width: 100%;
  }
}
