@import 'vars';

.containerPrinciple {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  max-width: 1000px;
  height: calc(90vh - 70px);
  box-sizing: border-box;
  overflow-y: scroll;
  background: $--white;
  border: 10px solid $--white;
  border-radius: 8px 8px 0 0;
  box-shadow: 4px -4px 8px $--gary;
  justify-content: center;
  display: flex;

  .rightform {
    width: 40%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    float: left;
    background-color: $--white;
    display: flex;
    align-items: center;
    margin: auto 30px auto 0;
  }

  .leftForm {
    width: 50%;
    height: min-content;
    margin: 0;
    float: right;
    background-color: $--white;
    display: flex;
    justify-content: center;
    background-color: lavender;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    border: solid 1px #cbc9c9;
    border-radius: 8px/7px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;

    .labelInfo {
      color: $--black;
    }

    .bold {
      font-weight: bold;
    }

    .form {
      height: 100%;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .title {
        font-size: 2em;
        color: $--blue-color;
        margin: 20px 0;
        font-weight: bold;
      }
      .input {
        width: 100%;
        padding: 15px 0;
        font-size: 1.2em;
        background-color: $--white;
        color: $--black;
      }
      .textarea {
        width: 100%;
        background-color: $--white;
        color: $--black;
      }

      .inputboxDescripcion {
        display: flex;
        flex-direction: column;
        .details {
          margin-bottom: 10px;
          color: $--black;
        }
      }

      .inputbox {
        width: calc(100% / 2 - 20px);
        padding-right: 5px;
        padding-bottom: 20px;

        .select {
          width: 100%;
          height: 45px;
          background-color: $--white;
          color: $--black;
        }
      }

      .label {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
        padding-bottom: 11px;
        color: $--black;
      }

      .containerButton {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        margin-bottom: 15px;

        .input[type='submit'] {
          font-weight: 600;
          width: 70%;
          background-color: $--blue-color;
          color: #fff;
          border: none;
          font-size: 18px;
          padding: 8px 30px;
          margin-top: 50px;
          border-radius: 30px;
          display: flex;
          justify-content: center;
        }

        .input[type='submit']:hover {
          top: 3px;
          background-color: #2e458b;
          box-shadow: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .containerPrinciple {
    .rightform {
      display: none;
    }

    .leftForm {
      width: 100%;
      padding-left: 6px;
      height: 100vh;

      .form {
        width: 95%;
        padding: 0 1em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left-form .input[type='submit'] {
    width: 100%;
  }
}
