@import 'vars';


.containerPrinciple {
  position: absolute;
  right: 0;
  left: 0;
  top: 70px;
  bottom: 0;

  margin: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  height: min-content;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 4px 4px 4px $--black-tr;

  .titulo {
    color: #0a54e7;
    padding-left: 5px;
    margin-bottom: 60px;
  }

  .contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(314px, 0fr));
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 10px;
    background-color: ghostwhite;
    border: 1px solid cornflowerblue;
    justify-content: center;
    align-items: center;


    &::-webkit-scrollbar {
      --webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }

    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #0a54e7;
      border: 2px solid #ffffff;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    .menu-option {
      display: flex;
      padding: 6px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-direction: column;
      margin-bottom: 35px;

      .negrilla {
        font-weight: bold;
        color: #0a54e7;
      }
    }
  }



}