@import 'vars';


.containerPrinciple{
  font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

.titulo {

  
    color: #0a54e7;
    padding-left: 5px;
    margin-bottom: 60px;
  }

  .contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(314px, 0fr)); 
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: ghostwhite;
    border: 10px solid cornflowerblue;
    justify-content: center;
    align-items: center;


    &::-webkit-scrollbar {
      --webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }

    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #0a54e7;
      border: 2px solid #ffffff;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    .diseño1 {
      display: flex;
      width: 341px;
      padding: 6px 16px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      margin-bottom: 35px;

      .negrilla {
        font-weight: bold;
        color: #0a54e7;
      }
    }
  }



}


